<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>MacBook</mat-card-title>
<!--      <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image ngSrc="assets/images/macbook.jpeg" height="1000" width="1000"/>
      <p>Year of production: 2020</p>
      <p>Price: 200</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary">Buy</button>
      <button class="button" mat-flat-button color="primary">More</button>
<!--      <button mat-button>More</button>-->
    </mat-card-actions>
  </mat-card>

</div>
