.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
  //max-width: 700px;
  //height: 300px;
}

mat-card {
  background-color: rgb(255, 255, 255);
  color: black;
  margin: 10px;
  max-width: 400px;
  /*min-width: 150px;*/
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;

}

img {
  width: 100%;
  height: auto;
}

.button {
  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
}
